.container
{
    width: 380px;
    height: 590px;
    background-color: 
    #67595E;
    border: 2px solid black;
    border-radius: 4%;
    margin: 0 auto;
    
 

}

.display
{
    width: 340px;
    height: 100px;
    background-color:#A49393;
    border-radius: 4%;
    margin: 20px auto;
    border: 2px solid black;

}

.clear
{
    background-color:  #EED6D3;
    width: 158px;
    height: 60px;
    border-radius: 6%;
    /* margin-top: 10px; */
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete
{
    background-color: #EED6D3;
    width: 158px;
    height: 60px;
    border-radius: 6%;
    /* margin-top: 10px; */
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.c1
{
    display: flex;
    justify-content: space-evenly;
    
    
}

.clear:hover, .delete:hover
{
    filter: brightness(85%);
}


.clear:active, .delete:active
{  
filter: brightness(70%);
}

.numbersandfunctions
{
    
    margin: 10px auto;
    width: 340px;
    height: 350px;
    background-color:  #A49393;
    border: 2px solid black;
    border-radius: 4%;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
   
    
}

.placeholderfornow
{
    /* display: flex; */
  
    

    background-color: #E8B4B8;
    width: 70px;
    height: 70px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}
.placeholderfornow:hover
{filter: brightness(85%);}

.placeholderfornow:active
{filter: brightness(70%);}

.func
{
    background-color: #b4e8e4 ;
}
:root
{
    text-align: center;
    font-size: 36px;  
    background-color: #f0efe6; 
}
.equals
{
    background-color: #b4e8ca;
    border-radius: 10%;
}
/* 
#screenbot
{
    text-align: right;
}

#screentop
{
    text-align: left;
} */
.kevan
{
   
    
    display:flex;
    justify-content: center;

    color: black;
    display:flex;
    justify-content: center;
    font-weight:900;
    font-size: 48px;
   
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    /* margin-top: 500px; */
}
a
{text-decoration: none;
    color: black;
    }

img{

max-width: 12px;
max-height: 12px;
    ;}
